/*---FAQ---*/

#bodyFaq{
    height: 100vh;
    hr{
        width: 10.5%;
    }
    section{
        padding-left: 10px;
        span{
            font-size: 1.75rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #797A7E;
        }
    }
}
p{
    color:#808080;
}