/*---FAQ---*/

#bodyFaq{
    height: 100vh;
    section{
        padding-left: 10px;
        h3{
            font-weight: 600;
            color: #523c3c;
        }
        span{
            font-size: 1.75rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: #797A7E;
        }
    }
}
p{
    font-weight: 500;
    color:#050505;
}