/*---UBICACION---*/

#bodyUbicacion{
    h1, h2{
        font-size: 3rem;
    }
    h3{
        color:#7D5A50
    }
    .centro{
        color: #212529;
        font-size: 2rem;
    }
    main{
        display: flex;
        justify-content: space-around;
        section{
            table{
                display: inline-block;
                padding-right: 400px;
                margin-top: 80px;
                border-color: #333;
            }
        }
    }
    
}
tbody, td, tfoot, th, thead, tr{
    border-width: unset;
}